body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFD831;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  min-width: 340px;
  max-width: 500px;
  font-size: 1rem;
  margin: 1.5rem auto 1rem auto;
  padding: 10px 12px 5px 10px;
  background-color: #fbe5e5;

}

.logo {
  width: 100%;
  padding-top: 1.5rem;
}

.image-wrapper {
  display: block;
  margin: 1.5rem auto 1.5rem auto;
  max-width: 520px;
  min-width: 350px;
}

/* WRITE A THOUGHT WINDOW */
.form-section {
  border: black solid 3px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0.3rem 0.3rem rgb(66, 63, 63);
  padding: 1rem;
  margin: 1rem;
}

.inputBox {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  display: flex;
  max-width: 500px;
  width: 85vw;
  height: 18vh;
  flex-direction: column;
  padding: 10px;
  background-color: #C3C8C9;
  justify-content: space-between;
  box-shadow: 5px 5px #576569;
  margin: 10px 0px;
  border-style: solid;
  border-color: #576569
}

.inputBox p {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    font-weight: 900;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 18px;
}

.inputfield {
  height: 45%;
}

.inputbottom {
  display: flex;
  justify-content: space-around;
}

.thoughtOutputText {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-weight: 900;
}

.sendButton {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  border-style: double;
  border-color: #576569;
  height: 30px;
  width: 50%;
  min-width: fit-content;
  cursor: crosshair;
  color: #576569;
}

.sendButton:hover {
  background-color: #E2E2E2;
}

.outputBox {
  display: flex;
  max-width: 500px;
  width: 85vm;
  height: 18vh;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  box-shadow: 5px 5px #576569;
  margin: 10px 0px;
  border-style: solid;
  border-color: #576569;
}

.heartButton {
  border-radius: 50px;
  width: 45px;
  height: 45px;
  border-style: solid;
  border-color: #576569;
  margin-right: 8px;
}

.heartButton:hover {
  border-radius: 10px;
  cursor: pointer;
  border-color: #8B0000;
}

.outputBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-display {
  font-style: italic;
  color: rgb(109, 107, 107);
}

.contact p {
  text-align: center;
  color: black;
}

.contact a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}